<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}{% if page.title %} - {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

  </head>
  <body>

    <div class="navbar navbar-default">
      <div class="container relative">

        <div class="search-bar">
          <div class="search-button"></div>
          <div class="search-box" id="search-box">
          </div>
        </div>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="dropdown">
          </button>
          <ul class="pull-right dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="/">profile</a></li>
            <li><a href="http://blog.charlee.li/">blog</a></li>
            <li><a href="/gallery.html">gallery</a></li>
          </ul>

          <a href="/" class="navbar-brand">{{ site.name }}</a>
        </div>


        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="nav-profile"><a href="/">profile</a></li>
            <li id="nav-blog"><a href="http://blog.charlee.li/">blog</a></li>
            <li id="nav-gallery"><a href="/gallery.html">gallery</a></li>
          </ul>
        </div>


      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>

    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="http://www.google.com/cse/cse.js?cx=009229273342055016380:64pl6zoxmvs"></script>
    <script>
      var myCallback = function() {
        if (document.readyState == 'complete') {
          // Document is ready when CSE element is initialized.
          // Render an element with both search box and search results in div with id 'test'.
          google.search.cse.element.render(
              {
                div: "search-box",
                tag: 'search'
               });
        } else {
          // Document is not ready yet, when CSE element is initialized.
          google.setOnLoadCallback(function() {
             // Render an element with both search box and search results in div with id 'test'.
              google.search.cse.element.render(
                  {
                    div: "search-box",
                    tag: 'search'
                  });
          }, true);
        }
      };

      // Insert it before the CSE code snippet so that cse.js can take the script
      // parameters, like parsetags, callbacks.
      window.__gcse = {
        parsetags: 'explicit',
        callback: myCallback
      };

      (function() {
        var cx = '009229273342055016380:64pl6zoxmvs';
        var gcse = document.createElement('script'); gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
    </script>


  </body>
</html>
